
<form [formGroup]="enigmForm" >
  Enigm Name: {{enigmForm.controls.name.value}}

  <p>Choix:</p>
  <button mat-button-raised color="primary"(click)="addChoice()">Add Choice</button>
  <ul>
    <li *ngFor="let choice of choices?.controls; let i = index">
      <app-choice [index]="i" [choiceForm]="choice" (deleteChoice)="deleteChoice($event)"></app-choice>
    </li>
  </ul>

  <button  type="submit" mat-button-raised color="accent" (click)="saveEnigm()" [disabled]="enigmForm.invalid">Submit</button>
  <pre>Parent Form Status: <span class="status">{{enigmForm.status}}</span></pre>
</form>

